html
    head
      meta(name="viewport", content="text/html; charset=utf-8; width='device-width, initial-scale=1.0'", http-equiv="Content-Type")
      title Apana™ Installer Portal
      base(href="/")
      link(rel="stylesheet", href="app.css")
      link(href="ng-password-meter/dist/ng-password-meter.css", rel="stylesheet")

    body(ng-app="apanaApp")
      div.page-view(ng-view="")

      script(src="app.js")
